<br>
<div class="confirmation">
  <h1>JUT Confirmation Email</h1>
  <h3>Thank you for joining the JUT community {{username}}! 😊</h3>
  <p>You’re just a few clicks away from renting the perfect vehicle for your next adventure, whether it’s a slick Tesla
    Model S, a rugged Ford F-150, or a classic VW bus for a picture-perfect road trip.

    Simply search for your dates and location, play around with the filters or search by category, and find the ideal
    car for wherever you’re going.</p>

  <a href="https://murmuring-refuge-64958.herokuapp.com">Login</a>
</div>