<h1>Ford Fiesta or similar Economy Car Rental</h1>

<p>Reserve an economy vehicle, including the Ford Fiesta or similar with JUT. Vehicle make and model is subject to location and availability. Similar make and models include the following: Hyundai Accent, Kia Rio, Toyota Yaris, Honda Fit, Chevrolet Sonic and Smart Fortwo.</p>