<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div>
  
  <form action="">
    <input type="text" placeholder="Los Cabos">
    <div>
      <label class="datepicker" for="">From</label>
      <input type="date">
      <select name="startTime" id="">
        <option value="00:00">midnight</option>
        <option value="00:30">12:30am</option>
      </select>
    </div>
    <div>
      <label class="datepicker" for="">Until</label>
      <input type="date">
      <select name="startTime" id="">
        <option value="00:00">midnight</option>
        <option value="00:30">12:30am</option>
      </select>
    </div>
    <button type="submit">Submit</button>

</div>