<section>
  <div class="jut-content">
    <div class="header-text">
      <h1>Find amazing cars</h1>
      <p>Jut is the page for finding the best car for your vacations..
      </p>
    </div>
  </div>

</section>

<section class="collab">
  <div class="coll-content">
    <form action="/cars" method="POST">
      <label for="">Pickup Location</label>
      <input type="text" placeholder="Los Cabos">
      <div>
        <br>
        <label for="">Pickup Date & Time:</label>
        <input type="date" id="start" name="startDate" value="2019-02-17">
        <select name="startTime">
          <option value="00:00">midnight</option>
          <option value="00:30 ">12:30am</option>
          <option value="14:30">14:30pm</option>
        </select>
      </div>
      <br>
      <div>
        <label for="">Return Date & Time
        </label>
        <input type="date" id="end" name="endDate" value="2019-02-20">
        <select name="endTime">
          <option value="00:00">midnight</option>
          <option value="00:30">12:30am</option>
          <option value="14:30">14:30pm</option>
        </select>
      </div>
      <br>
      <button class="org-button" type="submit">Search</button>
    </form>
  </div>
</section>

<section class="what-is-jut">
  <div class="what-content">

    <div class="what-text">
      <h2>What's JUT?</h2>
      <p>Use </p>
    </div>

    <a href="/auth/signup"><button class="list-signup">Sign Up </button></a>
  </div>

</section>


<section class="make">
  <div class="make-text">
    <h1>The Car you want</h1>
    <p>Right here!</p>
  </div>


  <div>
    <div class="asides">
      <aside class="make-box col col-3">
        <img src="" alt="">
        <h3>Savings on All Inclusive Rate Rentals</h3>
        <p class="text"></p>
      </aside>

      <aside class="make-box col col-3">
        <img src="" alt="">
        <h3>Rentals</h3>
        <p class="text"></p>
      </aside>

      <aside class="make-box col col-3">
        <img src="" alt="">
        <h3> All Inclusive </h3>
        <p class="text"></p>
      </aside>

    </div>
  </div>
</section>

<br>
<hr>


<footer >
  <div class="container-footer">
  <ul>
    <li>Rent a car</li>
    <li>Make money with your car</li>
    <li>JUT for business</li>
  </ul>
  </div>

  <div>
    <ul>
      <li>How JUT works?</li>
      <li>Trust & safety</li>
      <li>Policies</li>

    </ul>
  </div>

</footer>
