<h1>Let your car Work for you</h1>

<p>Listing your car is simple</p>


<button> <a href=""> List your car</a></button>

<h1>How it works</h1>

<h2>You Are Covered</h2>

<p>You´re with up to $100,000MXn in liability insurance, and your car is contractually protected against theft and physical damage. </p>

<h2>You Are in Control</h2>
<p>Set your minimum daily price for trips. Choose a mileage limit and get your car re'fueled.</p>

<h2>It´s Totally free to list your car</h2>
<h3>No Monthly Fees, no Buy-in</h3>
