<h1>Rent safely, travel confidently</h1>
<h5>Your safety is a top priority</h5>


<h2>When you host</h2>

<h4>You are Covered</h4>
<p>You´re covered with up to $100,000 MXN in liability insurance</p>

<h4>You are Safe</h4>
<p>We screen each traveler, so you can be confident when you hand over you keys.</p>


<h4>You are not alone</h4>
<p>We're always just a call away, from our 24-hour emergency line to our responsive customer support team </p>